<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C_h1</key>
    <string>C__h1.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G_h1</key>
    <string>G__h1.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H_h1</key>
    <string>H__h1.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>J_h1</key>
    <string>J__h1.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>K_h1</key>
    <string>K__h1.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>SALLALIG</key>
    <string>S_A_L_L_A_L_I_G_.glif</string>
    <key>S_f</key>
    <string>S__f.glif</string>
    <key>S_h1</key>
    <string>S__h1.glif</string>
    <key>S_i</key>
    <string>S__i.glif</string>
    <key>S_i1</key>
    <string>S__i1.glif</string>
    <key>S_i2</key>
    <string>S__i2.glif</string>
    <key>S_i3</key>
    <string>S__i3.glif</string>
    <key>S_m1</key>
    <string>S__m1.glif</string>
    <key>S_m2</key>
    <string>S__m2.glif</string>
    <key>S_m3</key>
    <string>S__m3.glif</string>
    <key>S_mo</key>
    <string>S__mo.glif</string>
    <key>Sb_i</key>
    <string>S_b_i.glif</string>
    <key>Sr_f</key>
    <string>S_r_f.glif</string>
    <key>Sr_i</key>
    <string>S_r_i.glif</string>
    <key>Sy_f</key>
    <string>S_y_f.glif</string>
    <key>Sy_i</key>
    <string>S_y_i.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T_h1</key>
    <string>T__h1.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>V_h1</key>
    <string>V__h1.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>_593</key>
    <string>_593.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a_f</key>
    <string>a_f.glif</string>
    <key>a_fla</key>
    <string>a_fla.glif</string>
    <key>a_i</key>
    <string>a_i.glif</string>
    <key>ain</key>
    <string>ain.glif</string>
    <key>alef_f</key>
    <string>alef_f.glif</string>
    <key>alif</key>
    <string>alif.glif</string>
    <key>alifhamzaabove</key>
    <string>alifhamzaabove.glif</string>
    <key>alifhamzabelow</key>
    <string>alifhamzabelow.glif</string>
    <key>alifmad</key>
    <string>alifmad.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>arabiccomma</key>
    <string>arabiccomma.glif</string>
    <key>arabicquestionmark</key>
    <string>arabicquestionmark.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b1</key>
    <string>b1.glif</string>
    <key>b2</key>
    <string>b2.glif</string>
    <key>b3</key>
    <string>b3.glif</string>
    <key>b3_m</key>
    <string>b3_m.glif</string>
    <key>b4</key>
    <string>b4.glif</string>
    <key>b5</key>
    <string>b5.glif</string>
    <key>b_3</key>
    <string>b_3.glif</string>
    <key>b_3w</key>
    <string>b_3w.glif</string>
    <key>b_altk</key>
    <string>b_altk.glif</string>
    <key>b_f</key>
    <string>b_f.glif</string>
    <key>b_f2</key>
    <string>b_f2.glif</string>
    <key>b_h1</key>
    <string>b_h1.glif</string>
    <key>b_i</key>
    <string>b_i.glif</string>
    <key>b_i1</key>
    <string>b_i1.glif</string>
    <key>b_i2</key>
    <string>b_i2.glif</string>
    <key>b_i3</key>
    <string>b_i3.glif</string>
    <key>b_i4</key>
    <string>b_i4.glif</string>
    <key>b_im</key>
    <string>b_im.glif</string>
    <key>b_je</key>
    <string>b_je.glif</string>
    <key>b_jf</key>
    <string>b_jf.glif</string>
    <key>b_m1</key>
    <string>b_m1.glif</string>
    <key>b_m2</key>
    <string>b_m2.glif</string>
    <key>b_m3</key>
    <string>b_m3.glif</string>
    <key>b_m3ex</key>
    <string>b_m3ex.glif</string>
    <key>b_m5</key>
    <string>b_m5.glif</string>
    <key>b_me</key>
    <string>b_me.glif</string>
    <key>b_mi</key>
    <string>b_mi.glif</string>
    <key>b_mj</key>
    <string>b_mj.glif</string>
    <key>b_mjf</key>
    <string>b_mjf.glif</string>
    <key>b_mka</key>
    <string>b_mka.glif</string>
    <key>b_mm</key>
    <string>b_mm.glif</string>
    <key>b_mm1</key>
    <string>b_mm1.glif</string>
    <key>b_mo</key>
    <string>b_mo.glif</string>
    <key>b_mo1</key>
    <string>b_mo1.glif</string>
    <key>b_mv</key>
    <string>b_mv.glif</string>
    <key>b_rm</key>
    <string>b_rm.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>bariyeh</key>
    <string>bariyeh.glif</string>
    <key>bariyehhamza</key>
    <string>bariyehhamza.glif</string>
    <key>bay</key>
    <string>bay.glif</string>
    <key>bb_i</key>
    <string>bb_i.glif</string>
    <key>be1</key>
    <string>be1.glif</string>
    <key>be2</key>
    <string>be2.glif</string>
    <key>be3</key>
    <string>be3.glif</string>
    <key>be4</key>
    <string>be4.glif</string>
    <key>bf1</key>
    <string>bf1.glif</string>
    <key>bf2</key>
    <string>bf2.glif</string>
    <key>bf3</key>
    <string>bf3.glif</string>
    <key>bf4</key>
    <string>bf4.glif</string>
    <key>bf5</key>
    <string>bf5.glif</string>
    <key>bi</key>
    <string>bi.glif</string>
    <key>bi_i</key>
    <string>bi_i.glif</string>
    <key>bm</key>
    <string>bm.glif</string>
    <key>bm1</key>
    <string>bm1.glif</string>
    <key>bn_1</key>
    <string>bn_1.glif</string>
    <key>bn_i</key>
    <string>bn_i.glif</string>
    <key>bn_m</key>
    <string>bn_m.glif</string>
    <key>bn_v</key>
    <string>bn_v.glif</string>
    <key>bo_i</key>
    <string>bo_i.glif</string>
    <key>br_i1</key>
    <string>br_i1.glif</string>
    <key>br_i2</key>
    <string>br_i2.glif</string>
    <key>br_m</key>
    <string>br_m.glif</string>
    <key>br_m2</key>
    <string>br_m2.glif</string>
    <key>br_mm</key>
    <string>br_mm.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>bv_b</key>
    <string>bv_b.glif</string>
    <key>bv_j</key>
    <string>bv_j.glif</string>
    <key>bv_v</key>
    <string>bv_v.glif</string>
    <key>by_f</key>
    <string>by_f.glif</string>
    <key>by_i</key>
    <string>by_i.glif</string>
    <key>by_m2</key>
    <string>by_m2.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c_h1</key>
    <string>c_h1.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>chay</key>
    <string>chay.glif</string>
    <key>chotimad</key>
    <string>chotimad.glif</string>
    <key>colon.1</key>
    <string>colon.1.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d_f</key>
    <string>d_f.glif</string>
    <key>d_i</key>
    <string>d_i.glif</string>
    <key>dal</key>
    <string>dal.glif</string>
    <key>dash</key>
    <string>dash.glif</string>
    <key>ddal</key>
    <string>ddal.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dochashmihay</key>
    <string>dochashmihay.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dopaish</key>
    <string>dopaish.glif</string>
    <key>dozabar</key>
    <string>dozabar.glif</string>
    <key>dozair</key>
    <string>dozair.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e_f</key>
    <string>e_f.glif</string>
    <key>e_h1</key>
    <string>e_h1.glif</string>
    <key>e_i</key>
    <string>e_i.glif</string>
    <key>e_i1</key>
    <string>e_i1.glif</string>
    <key>e_i2</key>
    <string>e_i2.glif</string>
    <key>e_i3</key>
    <string>e_i3.glif</string>
    <key>e_io</key>
    <string>e_io.glif</string>
    <key>e_m1</key>
    <string>e_m1.glif</string>
    <key>e_m2</key>
    <string>e_m2.glif</string>
    <key>e_m3</key>
    <string>e_m3.glif</string>
    <key>e_mo</key>
    <string>e_mo.glif</string>
    <key>eb_i</key>
    <string>eb_i.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>er_f</key>
    <string>er_f.glif</string>
    <key>er_i</key>
    <string>er_i.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclam.1</key>
    <string>exclam.1.glif</string>
    <key>ey_f</key>
    <string>ey_f.glif</string>
    <key>ey_i</key>
    <string>ey_i.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f2_i</key>
    <string>f2_i.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_h1</key>
    <string>f_h1.glif</string>
    <key>f_i</key>
    <string>f_i.glif</string>
    <key>f_i1</key>
    <string>f_i1.glif</string>
    <key>f_i2</key>
    <string>f_i2.glif</string>
    <key>f_i3</key>
    <string>f_i3.glif</string>
    <key>f_m1</key>
    <string>f_m1.glif</string>
    <key>f_m2</key>
    <string>f_m2.glif</string>
    <key>f_m3</key>
    <string>f_m3.glif</string>
    <key>f_mo</key>
    <string>f_mo.glif</string>
    <key>f_mw</key>
    <string>f_mw.glif</string>
    <key>fay</key>
    <string>fay.glif</string>
    <key>fb_i</key>
    <string>fb_i.glif</string>
    <key>fi_i</key>
    <string>fi_i.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>fr_f</key>
    <string>fr_f.glif</string>
    <key>fr_i</key>
    <string>fr_i.glif</string>
    <key>fw</key>
    <string>fw.glif</string>
    <key>fy_f</key>
    <string>fy_f.glif</string>
    <key>fy_i</key>
    <string>fy_i.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g_f</key>
    <string>g_f.glif</string>
    <key>g_f2</key>
    <string>g_f2.glif</string>
    <key>g_h1</key>
    <string>g_h1.glif</string>
    <key>g_i</key>
    <string>g_i.glif</string>
    <key>g_i1</key>
    <string>g_i1.glif</string>
    <key>g_i2</key>
    <string>g_i2.glif</string>
    <key>g_i2s</key>
    <string>g_i2s.glif</string>
    <key>g_i3</key>
    <string>g_i3.glif</string>
    <key>g_i3s</key>
    <string>g_i3s.glif</string>
    <key>g_i4</key>
    <string>g_i4.glif</string>
    <key>g_is</key>
    <string>g_is.glif</string>
    <key>g_m</key>
    <string>g_m.glif</string>
    <key>g_m1</key>
    <string>g_m1.glif</string>
    <key>g_m2</key>
    <string>g_m2.glif</string>
    <key>g_m3</key>
    <string>g_m3.glif</string>
    <key>g_m4</key>
    <string>g_m4.glif</string>
    <key>g_mo</key>
    <string>g_mo.glif</string>
    <key>ga2</key>
    <string>ga2.glif</string>
    <key>ga2_m</key>
    <string>ga2_m.glif</string>
    <key>gb_i</key>
    <string>gb_i.glif</string>
    <key>ghaf</key>
    <string>ghaf.glif</string>
    <key>ghain</key>
    <string>ghain.glif</string>
    <key>gi_f</key>
    <string>gi_f.glif</string>
    <key>gi_i</key>
    <string>gi_i.glif</string>
    <key>gi_j</key>
    <string>gi_j.glif</string>
    <key>glyph148</key>
    <string>glyph148.glif</string>
    <key>glyph149</key>
    <string>glyph149.glif</string>
    <key>glyph150</key>
    <string>glyph150.glif</string>
    <key>glyph151</key>
    <string>glyph151.glif</string>
    <key>glyph152</key>
    <string>glyph152.glif</string>
    <key>glyph153</key>
    <string>glyph153.glif</string>
    <key>glyph154</key>
    <string>glyph154.glif</string>
    <key>glyph155</key>
    <string>glyph155.glif</string>
    <key>glyph156</key>
    <string>glyph156.glif</string>
    <key>glyph157</key>
    <string>glyph157.glif</string>
    <key>glyph158</key>
    <string>glyph158.glif</string>
    <key>glyph167</key>
    <string>glyph167.glif</string>
    <key>glyph168</key>
    <string>glyph168.glif</string>
    <key>glyph169</key>
    <string>glyph169.glif</string>
    <key>glyph185</key>
    <string>glyph185.glif</string>
    <key>glyph235</key>
    <string>glyph235.glif</string>
    <key>glyph554</key>
    <string>glyph554.glif</string>
    <key>gm</key>
    <string>gm.glif</string>
    <key>gm_j</key>
    <string>gm_j.glif</string>
    <key>gn_f</key>
    <string>gn_f.glif</string>
    <key>goalhay</key>
    <string>goalhay.glif</string>
    <key>goalhayarabic</key>
    <string>goalhayarabic.glif</string>
    <key>goaltay</key>
    <string>goaltay.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>gy_f</key>
    <string>gy_f.glif</string>
    <key>gy_i</key>
    <string>gy_i.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h_f</key>
    <string>h_f.glif</string>
    <key>h_h1</key>
    <string>h_h1.glif</string>
    <key>h_i</key>
    <string>h_i.glif</string>
    <key>h_i1</key>
    <string>h_i1.glif</string>
    <key>h_i2</key>
    <string>h_i2.glif</string>
    <key>h_i3</key>
    <string>h_i3.glif</string>
    <key>h_iw</key>
    <string>h_iw.glif</string>
    <key>h_m1</key>
    <string>h_m1.glif</string>
    <key>h_m2</key>
    <string>h_m2.glif</string>
    <key>h_m3</key>
    <string>h_m3.glif</string>
    <key>h_mo</key>
    <string>h_mo.glif</string>
    <key>h_mw</key>
    <string>h_mw.glif</string>
    <key>hamza</key>
    <string>hamza.glif</string>
    <key>hamza1</key>
    <string>hamza1.glif</string>
    <key>hamzaabove</key>
    <string>hamzaabove.glif</string>
    <key>hamzabelow</key>
    <string>hamzabelow.glif</string>
    <key>hawala</key>
    <string>hawala.glif</string>
    <key>hay</key>
    <string>hay.glif</string>
    <key>hayb</key>
    <string>hayb.glif</string>
    <key>hayb1</key>
    <string>hayb1.glif</string>
    <key>hayb2</key>
    <string>hayb2.glif</string>
    <key>hayb3</key>
    <string>hayb3.glif</string>
    <key>hayhamza</key>
    <string>hayhamza.glif</string>
    <key>hb_i</key>
    <string>hb_i.glif</string>
    <key>hr_f</key>
    <string>hr_f.glif</string>
    <key>hr_i</key>
    <string>hr_i.glif</string>
    <key>hv_ka</key>
    <string>hv_ka.glif</string>
    <key>hy_f</key>
    <string>hy_f.glif</string>
    <key>hy_i</key>
    <string>hy_i.glif</string>
    <key>hyphenminus</key>
    <string>hyphenminus.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i_f</key>
    <string>i_f.glif</string>
    <key>i_f2</key>
    <string>i_f2.glif</string>
    <key>i_h1</key>
    <string>i_h1.glif</string>
    <key>i_i</key>
    <string>i_i.glif</string>
    <key>im</key>
    <string>im.glif</string>
    <key>im1</key>
    <string>im1.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j_f</key>
    <string>j_f.glif</string>
    <key>j_h1</key>
    <string>j_h1.glif</string>
    <key>j_i</key>
    <string>j_i.glif</string>
    <key>j_i1</key>
    <string>j_i1.glif</string>
    <key>j_i2</key>
    <string>j_i2.glif</string>
    <key>j_i3</key>
    <string>j_i3.glif</string>
    <key>j_m1</key>
    <string>j_m1.glif</string>
    <key>j_m2</key>
    <string>j_m2.glif</string>
    <key>j_m3</key>
    <string>j_m3.glif</string>
    <key>j_mo</key>
    <string>j_mo.glif</string>
    <key>j_mr</key>
    <string>j_mr.glif</string>
    <key>jalla</key>
    <string>jalla.glif</string>
    <key>jazm</key>
    <string>jazm.glif</string>
    <key>jb_i</key>
    <string>jb_i.glif</string>
    <key>jeem</key>
    <string>jeem.glif</string>
    <key>jm</key>
    <string>jm.glif</string>
    <key>jm1</key>
    <string>jm1.glif</string>
    <key>jm_k</key>
    <string>jm_k.glif</string>
    <key>jr_f</key>
    <string>jr_f.glif</string>
    <key>jy_f</key>
    <string>jy_f.glif</string>
    <key>jy_i</key>
    <string>jy_i.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k_f</key>
    <string>k_f.glif</string>
    <key>k_f2</key>
    <string>k_f2.glif</string>
    <key>k_h1</key>
    <string>k_h1.glif</string>
    <key>k_i</key>
    <string>k_i.glif</string>
    <key>k_i1</key>
    <string>k_i1.glif</string>
    <key>k_i2</key>
    <string>k_i2.glif</string>
    <key>k_i2s</key>
    <string>k_i2s.glif</string>
    <key>k_i3</key>
    <string>k_i3.glif</string>
    <key>k_i3s</key>
    <string>k_i3s.glif</string>
    <key>k_i4</key>
    <string>k_i4.glif</string>
    <key>k_is</key>
    <string>k_is.glif</string>
    <key>k_m</key>
    <string>k_m.glif</string>
    <key>k_m1</key>
    <string>k_m1.glif</string>
    <key>k_m2</key>
    <string>k_m2.glif</string>
    <key>k_m3</key>
    <string>k_m3.glif</string>
    <key>k_m4</key>
    <string>k_m4.glif</string>
    <key>k_mo</key>
    <string>k_mo.glif</string>
    <key>ka2</key>
    <string>ka2.glif</string>
    <key>ka2_m</key>
    <string>ka2_m.glif</string>
    <key>kaf</key>
    <string>kaf.glif</string>
    <key>kb_i</key>
    <string>kb_i.glif</string>
    <key>kharizabar</key>
    <string>kharizabar.glif</string>
    <key>kharizair</key>
    <string>kharizair.glif</string>
    <key>khay</key>
    <string>khay.glif</string>
    <key>ki_f</key>
    <string>ki_f.glif</string>
    <key>ki_i</key>
    <string>ki_i.glif</string>
    <key>ki_j</key>
    <string>ki_j.glif</string>
    <key>km</key>
    <string>km.glif</string>
    <key>km_j</key>
    <string>km_j.glif</string>
    <key>kn_f</key>
    <string>kn_f.glif</string>
    <key>ky_f</key>
    <string>ky_f.glif</string>
    <key>ky_i</key>
    <string>ky_i.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l_f</key>
    <string>l_f.glif</string>
    <key>l_h1</key>
    <string>l_h1.glif</string>
    <key>l_i</key>
    <string>l_i.glif</string>
    <key>l_i1</key>
    <string>l_i1.glif</string>
    <key>l_i2</key>
    <string>l_i2.glif</string>
    <key>l_i3</key>
    <string>l_i3.glif</string>
    <key>l_m1</key>
    <string>l_m1.glif</string>
    <key>l_m2</key>
    <string>l_m2.glif</string>
    <key>l_m3</key>
    <string>l_m3.glif</string>
    <key>l_mo</key>
    <string>l_mo.glif</string>
    <key>la_f</key>
    <string>la_f.glif</string>
    <key>la_i</key>
    <string>la_i.glif</string>
    <key>laam</key>
    <string>laam.glif</string>
    <key>lb_i</key>
    <string>lb_i.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>li_f</key>
    <string>li_f.glif</string>
    <key>li_i</key>
    <string>li_i.glif</string>
    <key>li_j</key>
    <string>li_j.glif</string>
    <key>llo</key>
    <string>llo.glif</string>
    <key>lm</key>
    <string>lm.glif</string>
    <key>lm_j</key>
    <string>lm_j.glif</string>
    <key>ln_f</key>
    <string>ln_f.glif</string>
    <key>ly_f</key>
    <string>ly_f.glif</string>
    <key>ly_i</key>
    <string>ly_i.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m1_w</key>
    <string>m1_w.glif</string>
    <key>m2_w</key>
    <string>m2_w.glif</string>
    <key>m3_I</key>
    <string>m3_I_.glif</string>
    <key>m3_w</key>
    <string>m3_w.glif</string>
    <key>m4_w</key>
    <string>m4_w.glif</string>
    <key>m5_b</key>
    <string>m5_b.glif</string>
    <key>m5_bb</key>
    <string>m5_bb.glif</string>
    <key>m5_e</key>
    <string>m5_e.glif</string>
    <key>m5_f</key>
    <string>m5_f.glif</string>
    <key>m5_j</key>
    <string>m5_j.glif</string>
    <key>m5_o</key>
    <string>m5_o.glif</string>
    <key>m5_s</key>
    <string>m5_s.glif</string>
    <key>m5_v</key>
    <string>m5_v.glif</string>
    <key>m5_w</key>
    <string>m5_w.glif</string>
    <key>m_f</key>
    <string>m_f.glif</string>
    <key>m_h</key>
    <string>m_h.glif</string>
    <key>m_h1</key>
    <string>m_h1.glif</string>
    <key>m_i</key>
    <string>m_i.glif</string>
    <key>m_i1</key>
    <string>m_i1.glif</string>
    <key>m_i2</key>
    <string>m_i2.glif</string>
    <key>m_i3</key>
    <string>m_i3.glif</string>
    <key>m_m1</key>
    <string>m_m1.glif</string>
    <key>m_m2</key>
    <string>m_m2.glif</string>
    <key>m_m3</key>
    <string>m_m3.glif</string>
    <key>m_mo</key>
    <string>m_mo.glif</string>
    <key>m_w</key>
    <string>m_w.glif</string>
    <key>mad</key>
    <string>mad.glif</string>
    <key>mb_i</key>
    <string>mb_i.glif</string>
    <key>md_f</key>
    <string>md_f.glif</string>
    <key>meem</key>
    <string>meem.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>misra</key>
    <string>misra.glif</string>
    <key>mm</key>
    <string>mm.glif</string>
    <key>mm1</key>
    <string>mm1.glif</string>
    <key>mr_f</key>
    <string>mr_f.glif</string>
    <key>mr_i</key>
    <string>mr_i.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>my_f</key>
    <string>my_f.glif</string>
    <key>my_i</key>
    <string>my_i.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n_f</key>
    <string>n_f.glif</string>
    <key>n_h1</key>
    <string>n_h1.glif</string>
    <key>n_i</key>
    <string>n_i.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nonmarkingreturn</key>
    <string>nonmarkingreturn.glif</string>
    <key>noon</key>
    <string>noon.glif</string>
    <key>noonghunna</key>
    <string>noonghunna.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o_1</key>
    <string>o_1.glif</string>
    <key>o_2_x</key>
    <string>o_2_x.glif</string>
    <key>o_3</key>
    <string>o_3.glif</string>
    <key>o_f</key>
    <string>o_f.glif</string>
    <key>o_h1</key>
    <string>o_h1.glif</string>
    <key>o_i</key>
    <string>o_i.glif</string>
    <key>o_i1</key>
    <string>o_i1.glif</string>
    <key>o_i2</key>
    <string>o_i2.glif</string>
    <key>o_i3</key>
    <string>o_i3.glif</string>
    <key>o_m1</key>
    <string>o_m1.glif</string>
    <key>o_m2</key>
    <string>o_m2.glif</string>
    <key>o_m3</key>
    <string>o_m3.glif</string>
    <key>o_mo</key>
    <string>o_mo.glif</string>
    <key>ob_i</key>
    <string>ob_i.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>onena</key>
    <string>onena.glif</string>
    <key>onenb</key>
    <string>onenb.glif</string>
    <key>onenb1</key>
    <string>onenb1.glif</string>
    <key>onenb2</key>
    <string>onenb2.glif</string>
    <key>onenb3</key>
    <string>onenb3.glif</string>
    <key>or_f</key>
    <string>or_f.glif</string>
    <key>or_i</key>
    <string>or_i.glif</string>
    <key>oy_f</key>
    <string>oy_f.glif</string>
    <key>oy_i</key>
    <string>oy_i.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p_h1</key>
    <string>p_h1.glif</string>
    <key>paish</key>
    <string>paish.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>pay</key>
    <string>pay.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q_f</key>
    <string>q_f.glif</string>
    <key>q_f2</key>
    <string>q_f2.glif</string>
    <key>q_h1</key>
    <string>q_h1.glif</string>
    <key>q_i</key>
    <string>q_i.glif</string>
    <key>q_l</key>
    <string>q_l.glif</string>
    <key>q_r</key>
    <string>q_r.glif</string>
    <key>qaf</key>
    <string>qaf.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r_2f</key>
    <string>r_2f.glif</string>
    <key>r_f</key>
    <string>r_f.glif</string>
    <key>r_i</key>
    <string>r_i.glif</string>
    <key>ray</key>
    <string>ray.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>rray</key>
    <string>rray.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s_1</key>
    <string>s_1.glif</string>
    <key>s_2</key>
    <string>s_2.glif</string>
    <key>s_3</key>
    <string>s_3.glif</string>
    <key>s_4</key>
    <string>s_4.glif</string>
    <key>s_f</key>
    <string>s_f.glif</string>
    <key>s_h1</key>
    <string>s_h1.glif</string>
    <key>s_i</key>
    <string>s_i.glif</string>
    <key>s_i1</key>
    <string>s_i1.glif</string>
    <key>s_i2</key>
    <string>s_i2.glif</string>
    <key>s_i3</key>
    <string>s_i3.glif</string>
    <key>s_iw</key>
    <string>s_iw.glif</string>
    <key>s_m1</key>
    <string>s_m1.glif</string>
    <key>s_m2</key>
    <string>s_m2.glif</string>
    <key>s_m3</key>
    <string>s_m3.glif</string>
    <key>s_mo</key>
    <string>s_mo.glif</string>
    <key>s_mw</key>
    <string>s_mw.glif</string>
    <key>safha</key>
    <string>safha.glif</string>
    <key>saignereh</key>
    <string>saignereh.glif</string>
    <key>sainaleh</key>
    <string>sainaleh.glif</string>
    <key>sana</key>
    <string>sana.glif</string>
    <key>say</key>
    <string>say.glif</string>
    <key>sb_i</key>
    <string>sb_i.glif</string>
    <key>seen</key>
    <string>seen.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>shad</key>
    <string>shad.glif</string>
    <key>sheen</key>
    <string>sheen.glif</string>
    <key>signerazi</key>
    <string>signerazi.glif</string>
    <key>signssuad</key>
    <string>signssuad.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>space0</key>
    <string>space0.glif</string>
    <key>space1</key>
    <string>space1.glif</string>
    <key>space10</key>
    <string>space10.glif</string>
    <key>space2</key>
    <string>space2.glif</string>
    <key>space3</key>
    <string>space3.glif</string>
    <key>space4</key>
    <string>space4.glif</string>
    <key>space5</key>
    <string>space5.glif</string>
    <key>space6</key>
    <string>space6.glif</string>
    <key>space7</key>
    <string>space7.glif</string>
    <key>space8</key>
    <string>space8.glif</string>
    <key>space9</key>
    <string>space9.glif</string>
    <key>sr_f</key>
    <string>sr_f.glif</string>
    <key>sr_i</key>
    <string>sr_i.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>suad</key>
    <string>suad.glif</string>
    <key>sy_f</key>
    <string>sy_f.glif</string>
    <key>sy_i</key>
    <string>sy_i.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t_h1</key>
    <string>t_h1.glif</string>
    <key>takhalus</key>
    <string>takhalus.glif</string>
    <key>tatweel</key>
    <string>tatweel.glif</string>
    <key>tay</key>
    <string>tay.glif</string>
    <key>thinspace</key>
    <string>thinspace.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>threena</key>
    <string>threena.glif</string>
    <key>threenapaish</key>
    <string>threenapaish.glif</string>
    <key>threenb</key>
    <string>threenb.glif</string>
    <key>threenb1</key>
    <string>threenb1.glif</string>
    <key>threenb2</key>
    <string>threenb2.glif</string>
    <key>threenb3</key>
    <string>threenb3.glif</string>
    <key>toa</key>
    <string>toa.glif</string>
    <key>toaa</key>
    <string>toaa.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>ttey</key>
    <string>ttey.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>twon2</key>
    <string>twon2.glif</string>
    <key>twona</key>
    <string>twona.glif</string>
    <key>twonb</key>
    <string>twonb.glif</string>
    <key>twonb1</key>
    <string>twonb1.glif</string>
    <key>twonb2</key>
    <string>twonb2.glif</string>
    <key>twonb3</key>
    <string>twonb3.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>ultapish</key>
    <string>ultapish.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>v_f</key>
    <string>v_f.glif</string>
    <key>v_h1</key>
    <string>v_h1.glif</string>
    <key>v_i</key>
    <string>v_i.glif</string>
    <key>v_i1</key>
    <string>v_i1.glif</string>
    <key>v_i2</key>
    <string>v_i2.glif</string>
    <key>v_i3</key>
    <string>v_i3.glif</string>
    <key>v_iw</key>
    <string>v_iw.glif</string>
    <key>v_m1</key>
    <string>v_m1.glif</string>
    <key>v_m2</key>
    <string>v_m2.glif</string>
    <key>v_m3</key>
    <string>v_m3.glif</string>
    <key>v_mo</key>
    <string>v_mo.glif</string>
    <key>v_mw</key>
    <string>v_mw.glif</string>
    <key>vb_i</key>
    <string>vb_i.glif</string>
    <key>vr_f</key>
    <string>vr_f.glif</string>
    <key>vr_i</key>
    <string>vr_i.glif</string>
    <key>vy_f</key>
    <string>vy_f.glif</string>
    <key>vy_i</key>
    <string>vy_i.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w_f</key>
    <string>w_f.glif</string>
    <key>w_f2</key>
    <string>w_f2.glif</string>
    <key>w_i</key>
    <string>w_i.glif</string>
    <key>wao</key>
    <string>wao.glif</string>
    <key>waohamza</key>
    <string>waohamza.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x_h1</key>
    <string>x_h1.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y_f</key>
    <string>y_f.glif</string>
    <key>y_i</key>
    <string>y_i.glif</string>
    <key>yeh</key>
    <string>yeh.glif</string>
    <key>yeharabic</key>
    <string>yeharabic.glif</string>
    <key>yehhamza</key>
    <string>yehhamza.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yey</key>
    <string>yey.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zabar</key>
    <string>zabar.glif</string>
    <key>zair</key>
    <string>zair.glif</string>
    <key>zal</key>
    <string>zal.glif</string>
    <key>zay</key>
    <string>zay.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zoa</key>
    <string>zoa.glif</string>
    <key>zuad</key>
    <string>zuad.glif</string>
    <key>zwnj</key>
    <string>zwnj.glif</string>
  </dict>
</plist>
