<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.featureWriters</key>
    <array/>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>eraseOpenCorners</string>
        <key>namespace</key>
        <string>glyphsLib.filters</string>
        <key>pre</key>
        <true/>
      </dict>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3241</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Variable Font Origin</key>
    <string>m000</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>.null</string>
      <string>nonmarkingreturn</string>
      <string>space</string>
      <string>exclam.1</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphenminus</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon.1</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>arabicquestionmark</string>
      <string>hamza</string>
      <string>alifmad</string>
      <string>alifhamzaabove</string>
      <string>waohamza</string>
      <string>alifhamzabelow</string>
      <string>yehhamza</string>
      <string>alif</string>
      <string>bay</string>
      <string>goaltay</string>
      <string>tay</string>
      <string>say</string>
      <string>jeem</string>
      <string>hay</string>
      <string>khay</string>
      <string>dal</string>
      <string>zal</string>
      <string>ray</string>
      <string>zay</string>
      <string>seen</string>
      <string>sheen</string>
      <string>suad</string>
      <string>zuad</string>
      <string>toa</string>
      <string>zoa</string>
      <string>ain</string>
      <string>ghain</string>
      <string>fay</string>
      <string>qaf</string>
      <string>laam</string>
      <string>meem</string>
      <string>noon</string>
      <string>goalhay</string>
      <string>wao</string>
      <string>yeh</string>
      <string>ttey</string>
      <string>pay</string>
      <string>chay</string>
      <string>ddal</string>
      <string>rray</string>
      <string>yey</string>
      <string>kaf</string>
      <string>ghaf</string>
      <string>noonghunna</string>
      <string>dochashmihay</string>
      <string>goalhayarabic</string>
      <string>yeharabic</string>
      <string>bariyeh</string>
      <string>glyph148</string>
      <string>glyph149</string>
      <string>glyph150</string>
      <string>glyph151</string>
      <string>glyph152</string>
      <string>glyph153</string>
      <string>glyph154</string>
      <string>glyph155</string>
      <string>glyph156</string>
      <string>glyph157</string>
      <string>glyph158</string>
      <string>thinspace</string>
      <string>dash</string>
      <string>takhalus</string>
      <string>misra</string>
      <string>hawala</string>
      <string>safha</string>
      <string>sana</string>
      <string>arabiccomma</string>
      <string>glyph167</string>
      <string>glyph168</string>
      <string>glyph169</string>
      <string>ellipsis</string>
      <string>q_l</string>
      <string>q_r</string>
      <string>chotimad</string>
      <string>dozabar</string>
      <string>dopaish</string>
      <string>dozair</string>
      <string>zabar</string>
      <string>paish</string>
      <string>zair</string>
      <string>shad</string>
      <string>jazm</string>
      <string>mad</string>
      <string>hamzabelow</string>
      <string>hamza1</string>
      <string>glyph185</string>
      <string>hamzaabove</string>
      <string>kharizabar</string>
      <string>kharizair</string>
      <string>ultapish</string>
      <string>signssuad</string>
      <string>signerazi</string>
      <string>sainaleh</string>
      <string>saignereh</string>
      <string>onenb</string>
      <string>threenb</string>
      <string>twonb</string>
      <string>hayb</string>
      <string>onenb1</string>
      <string>threenb1</string>
      <string>twonb1</string>
      <string>hayb1</string>
      <string>onena</string>
      <string>threena</string>
      <string>threenapaish</string>
      <string>twona</string>
      <string>toaa</string>
      <string>twon2</string>
      <string>onenb2</string>
      <string>threenb2</string>
      <string>twonb2</string>
      <string>hayb2</string>
      <string>onenb3</string>
      <string>threenb3</string>
      <string>twonb3</string>
      <string>hayb3</string>
      <string>jalla</string>
      <string>tatweel</string>
      <string>hayhamza</string>
      <string>bariyehhamza</string>
      <string>nbspace</string>
      <string>glyph235</string>
      <string>SALLALIG</string>
      <string>llo</string>
      <string>md_f</string>
      <string>a_i</string>
      <string>b_i</string>
      <string>j_i</string>
      <string>d_i</string>
      <string>r_i</string>
      <string>s_i</string>
      <string>S_i</string>
      <string>v_i</string>
      <string>e_i</string>
      <string>f_i</string>
      <string>q_i</string>
      <string>k_i</string>
      <string>g_i</string>
      <string>l_i</string>
      <string>m_i</string>
      <string>n_i</string>
      <string>w_i</string>
      <string>o_i</string>
      <string>h_i</string>
      <string>i_i</string>
      <string>y_i</string>
      <string>la_i</string>
      <string>a_f</string>
      <string>b_f</string>
      <string>b_f2</string>
      <string>j_f</string>
      <string>d_f</string>
      <string>r_f</string>
      <string>s_f</string>
      <string>S_f</string>
      <string>v_f</string>
      <string>e_f</string>
      <string>f_f</string>
      <string>q_f</string>
      <string>q_f2</string>
      <string>k_f</string>
      <string>g_f</string>
      <string>l_f</string>
      <string>m_f</string>
      <string>n_f</string>
      <string>w_f</string>
      <string>w_f2</string>
      <string>o_f</string>
      <string>h_f</string>
      <string>i_f</string>
      <string>y_f</string>
      <string>la_f</string>
      <string>by_i</string>
      <string>jy_i</string>
      <string>sy_i</string>
      <string>Sy_i</string>
      <string>vy_i</string>
      <string>ey_i</string>
      <string>fy_i</string>
      <string>ky_i</string>
      <string>gy_i</string>
      <string>ly_i</string>
      <string>my_i</string>
      <string>oy_i</string>
      <string>hy_i</string>
      <string>by_f</string>
      <string>jy_f</string>
      <string>sy_f</string>
      <string>Sy_f</string>
      <string>vy_f</string>
      <string>ey_f</string>
      <string>fy_f</string>
      <string>ky_f</string>
      <string>gy_f</string>
      <string>ly_f</string>
      <string>my_f</string>
      <string>oy_f</string>
      <string>hy_f</string>
      <string>bi_i</string>
      <string>ki_i</string>
      <string>gi_i</string>
      <string>fi_i</string>
      <string>li_i</string>
      <string>ki_f</string>
      <string>gi_f</string>
      <string>li_f</string>
      <string>bn_m</string>
      <string>ln_f</string>
      <string>kn_f</string>
      <string>gn_f</string>
      <string>by_m2</string>
      <string>i_f2</string>
      <string>br_i2</string>
      <string>br_m</string>
      <string>br_m2</string>
      <string>sr_i</string>
      <string>Sr_i</string>
      <string>vr_i</string>
      <string>er_i</string>
      <string>fr_i</string>
      <string>mr_i</string>
      <string>or_i</string>
      <string>hr_i</string>
      <string>jr_f</string>
      <string>sr_f</string>
      <string>Sr_f</string>
      <string>vr_f</string>
      <string>er_f</string>
      <string>fr_f</string>
      <string>mr_f</string>
      <string>or_f</string>
      <string>hr_f</string>
      <string>bb_i</string>
      <string>jb_i</string>
      <string>sb_i</string>
      <string>Sb_i</string>
      <string>vb_i</string>
      <string>eb_i</string>
      <string>fb_i</string>
      <string>kb_i</string>
      <string>gb_i</string>
      <string>lb_i</string>
      <string>mb_i</string>
      <string>ob_i</string>
      <string>hb_i</string>
      <string>br_mm</string>
      <string>br_i1</string>
      <string>b_i1</string>
      <string>j_i1</string>
      <string>s_i1</string>
      <string>S_i1</string>
      <string>v_i1</string>
      <string>e_i1</string>
      <string>f_i1</string>
      <string>k_i1</string>
      <string>g_i1</string>
      <string>l_i1</string>
      <string>m_i1</string>
      <string>o_i1</string>
      <string>h_i1</string>
      <string>b_m1</string>
      <string>j_m1</string>
      <string>s_m1</string>
      <string>S_m1</string>
      <string>v_m1</string>
      <string>e_m1</string>
      <string>f_m1</string>
      <string>k_m1</string>
      <string>g_m1</string>
      <string>l_m1</string>
      <string>m_m1</string>
      <string>o_m1</string>
      <string>h_m1</string>
      <string>b_i2</string>
      <string>j_i2</string>
      <string>s_i2</string>
      <string>S_i2</string>
      <string>v_i2</string>
      <string>e_i2</string>
      <string>f_i2</string>
      <string>k_i2</string>
      <string>g_i2</string>
      <string>l_i2</string>
      <string>m_i2</string>
      <string>o_i2</string>
      <string>h_i2</string>
      <string>b_m2</string>
      <string>j_m2</string>
      <string>s_m2</string>
      <string>S_m2</string>
      <string>v_m2</string>
      <string>e_m2</string>
      <string>f_m2</string>
      <string>k_m2</string>
      <string>g_m2</string>
      <string>l_m2</string>
      <string>m_m2</string>
      <string>o_m2</string>
      <string>h_m2</string>
      <string>b_i4</string>
      <string>b_i3</string>
      <string>j_i3</string>
      <string>s_i3</string>
      <string>S_i3</string>
      <string>v_i3</string>
      <string>e_i3</string>
      <string>f_i3</string>
      <string>k_i3</string>
      <string>g_i3</string>
      <string>l_i3</string>
      <string>m_i3</string>
      <string>o_i3</string>
      <string>h_i3</string>
      <string>b_m3ex</string>
      <string>j_m3</string>
      <string>s_m3</string>
      <string>S_m3</string>
      <string>v_m3</string>
      <string>e_m3</string>
      <string>f_m3</string>
      <string>k_m3</string>
      <string>g_m3</string>
      <string>l_m3</string>
      <string>m_m3</string>
      <string>o_m3</string>
      <string>h_m3</string>
      <string>k_i4</string>
      <string>k_m4</string>
      <string>g_i4</string>
      <string>g_m4</string>
      <string>k_is</string>
      <string>g_is</string>
      <string>bo_i</string>
      <string>bm1</string>
      <string>bn_i</string>
      <string>bm</string>
      <string>bi</string>
      <string>b_m5</string>
      <string>s_iw</string>
      <string>v_iw</string>
      <string>h_iw</string>
      <string>s_mw</string>
      <string>v_mw</string>
      <string>h_mw</string>
      <string>f_mw</string>
      <string>b_rm</string>
      <string>b_mo</string>
      <string>j_mo</string>
      <string>s_mo</string>
      <string>S_mo</string>
      <string>v_mo</string>
      <string>e_mo</string>
      <string>f_mo</string>
      <string>k_mo</string>
      <string>g_mo</string>
      <string>l_mo</string>
      <string>m_mo</string>
      <string>o_mo</string>
      <string>h_mo</string>
      <string>r_2f</string>
      <string>j_mr</string>
      <string>fw</string>
      <string>ki_j</string>
      <string>gi_j</string>
      <string>li_j</string>
      <string>a_fla</string>
      <string>b_altk</string>
      <string>b_mo1</string>
      <string>b_mm1</string>
      <string>km_j</string>
      <string>gm_j</string>
      <string>lm_j</string>
      <string>alef_f</string>
      <string>k_m</string>
      <string>g_m</string>
      <string>jm_k</string>
      <string>b_mi</string>
      <string>b_mj</string>
      <string>b_mm</string>
      <string>b_mv</string>
      <string>b1</string>
      <string>b2</string>
      <string>b3</string>
      <string>b4</string>
      <string>b5</string>
      <string>s_1</string>
      <string>s_2</string>
      <string>s_3</string>
      <string>s_4</string>
      <string>b3_m</string>
      <string>bv_b</string>
      <string>bv_j</string>
      <string>bv_v</string>
      <string>hv_ka</string>
      <string>glyph554</string>
      <string>be1</string>
      <string>be2</string>
      <string>be3</string>
      <string>be4</string>
      <string>b_im</string>
      <string>bf1</string>
      <string>bf2</string>
      <string>bf3</string>
      <string>bf4</string>
      <string>bf5</string>
      <string>m_w</string>
      <string>m1_w</string>
      <string>m2_w</string>
      <string>m3_w</string>
      <string>m_h</string>
      <string>o_1</string>
      <string>o_2_x</string>
      <string>o_3</string>
      <string>jm1</string>
      <string>b_m3</string>
      <string>jm</string>
      <string>mm1</string>
      <string>mm</string>
      <string>im1</string>
      <string>im</string>
      <string>bn_1</string>
      <string>bn_v</string>
      <string>b_3</string>
      <string>b_je</string>
      <string>b_jf</string>
      <string>b_3w</string>
      <string>b_mka</string>
      <string>b_me</string>
      <string>b_mjf</string>
      <string>m4_w</string>
      <string>k_i3s</string>
      <string>g_i3s</string>
      <string>m5_b</string>
      <string>m5_j</string>
      <string>m5_bb</string>
      <string>m5_s</string>
      <string>m5_v</string>
      <string>m5_e</string>
      <string>m5_f</string>
      <string>m5_w</string>
      <string>m5_o</string>
      <string>km</string>
      <string>gm</string>
      <string>lm</string>
      <string>m3_I</string>
      <string>f2_i</string>
      <string>e_io</string>
      <string>k_i2s</string>
      <string>g_i2s</string>
      <string>ka2</string>
      <string>ka2_m</string>
      <string>ga2</string>
      <string>ga2_m</string>
      <string>space1</string>
      <string>space2</string>
      <string>space3</string>
      <string>space4</string>
      <string>space5</string>
      <string>space6</string>
      <string>space7</string>
      <string>space8</string>
      <string>space9</string>
      <string>space10</string>
      <string>space0</string>
      <string>b_h1</string>
      <string>p_h1</string>
      <string>t_h1</string>
      <string>T_h1</string>
      <string>C_h1</string>
      <string>k_f2</string>
      <string>g_f2</string>
      <string>j_h1</string>
      <string>c_h1</string>
      <string>H_h1</string>
      <string>K_h1</string>
      <string>s_h1</string>
      <string>x_h1</string>
      <string>S_h1</string>
      <string>J_h1</string>
      <string>v_h1</string>
      <string>V_h1</string>
      <string>e_h1</string>
      <string>G_h1</string>
      <string>f_h1</string>
      <string>q_h1</string>
      <string>k_h1</string>
      <string>g_h1</string>
      <string>l_h1</string>
      <string>m_h1</string>
      <string>n_h1</string>
      <string>o_h1</string>
      <string>h_h1</string>
      <string>i_h1</string>
      <string>zwnj</string>
      <string>_593</string>
      <string>periodcentered</string>
      <string>endash</string>
      <string>emdash</string>
      <string>bullet</string>
      <string>cent</string>
      <string>sterling</string>
      <string>yen</string>
      <string>registered</string>
      <string>copyright</string>
      <string>degree</string>
      <string>divide</string>
      <string>euro</string>
      <string>multiply</string>
      <string>trademark</string>
      <string>minus</string>
      <string>uni25CC</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>S_f</key>
      <string>ligature</string>
      <key>S_i</key>
      <string>ligature</string>
      <key>S_i1</key>
      <string>base</string>
      <key>S_i2</key>
      <string>base</string>
      <key>S_i3</key>
      <string>base</string>
      <key>S_m1</key>
      <string>base</string>
      <key>S_m2</key>
      <string>base</string>
      <key>S_m3</key>
      <string>base</string>
      <key>S_mo</key>
      <string>base</string>
      <key>Sb_i</key>
      <string>ligature</string>
      <key>Sr_f</key>
      <string>ligature</string>
      <key>Sr_i</key>
      <string>ligature</string>
      <key>Sy_f</key>
      <string>ligature</string>
      <key>Sy_i</key>
      <string>ligature</string>
      <key>a_f</key>
      <string>ligature</string>
      <key>a_fla</key>
      <string>base</string>
      <key>a_i</key>
      <string>ligature</string>
      <key>alef_f</key>
      <string>ligature</string>
      <key>b1</key>
      <string>base</string>
      <key>b2</key>
      <string>base</string>
      <key>b3</key>
      <string>base</string>
      <key>b3_m</key>
      <string>ligature</string>
      <key>b4</key>
      <string>base</string>
      <key>b5</key>
      <string>base</string>
      <key>b_3</key>
      <string>base</string>
      <key>b_3w</key>
      <string>base</string>
      <key>b_altk</key>
      <string>base</string>
      <key>b_f</key>
      <string>ligature</string>
      <key>b_f2</key>
      <string>base</string>
      <key>b_i</key>
      <string>ligature</string>
      <key>b_i1</key>
      <string>base</string>
      <key>b_i2</key>
      <string>base</string>
      <key>b_i3</key>
      <string>base</string>
      <key>b_i4</key>
      <string>base</string>
      <key>b_im</key>
      <string>base</string>
      <key>b_je</key>
      <string>base</string>
      <key>b_jf</key>
      <string>base</string>
      <key>b_m1</key>
      <string>base</string>
      <key>b_m2</key>
      <string>base</string>
      <key>b_m3</key>
      <string>base</string>
      <key>b_m3ex</key>
      <string>base</string>
      <key>b_m5</key>
      <string>base</string>
      <key>b_me</key>
      <string>base</string>
      <key>b_mi</key>
      <string>base</string>
      <key>b_mj</key>
      <string>base</string>
      <key>b_mjf</key>
      <string>base</string>
      <key>b_mka</key>
      <string>base</string>
      <key>b_mm</key>
      <string>base</string>
      <key>b_mm1</key>
      <string>base</string>
      <key>b_mo</key>
      <string>base</string>
      <key>b_mo1</key>
      <string>base</string>
      <key>b_mv</key>
      <string>base</string>
      <key>b_rm</key>
      <string>base</string>
      <key>bb_i</key>
      <string>ligature</string>
      <key>be1</key>
      <string>base</string>
      <key>be2</key>
      <string>base</string>
      <key>be3</key>
      <string>base</string>
      <key>be4</key>
      <string>base</string>
      <key>bf1</key>
      <string>base</string>
      <key>bf2</key>
      <string>base</string>
      <key>bf3</key>
      <string>base</string>
      <key>bf4</key>
      <string>base</string>
      <key>bf5</key>
      <string>base</string>
      <key>bi</key>
      <string>base</string>
      <key>bi_i</key>
      <string>ligature</string>
      <key>bm</key>
      <string>base</string>
      <key>bm1</key>
      <string>base</string>
      <key>bn_1</key>
      <string>base</string>
      <key>bn_i</key>
      <string>ligature</string>
      <key>bn_m</key>
      <string>ligature</string>
      <key>bn_v</key>
      <string>ligature</string>
      <key>bo_i</key>
      <string>ligature</string>
      <key>br_i1</key>
      <string>base</string>
      <key>br_i2</key>
      <string>base</string>
      <key>br_m</key>
      <string>ligature</string>
      <key>br_m2</key>
      <string>base</string>
      <key>br_mm</key>
      <string>base</string>
      <key>bv_b</key>
      <string>ligature</string>
      <key>bv_j</key>
      <string>ligature</string>
      <key>bv_v</key>
      <string>ligature</string>
      <key>by_f</key>
      <string>ligature</string>
      <key>by_i</key>
      <string>ligature</string>
      <key>by_m2</key>
      <string>base</string>
      <key>chotimad</key>
      <string>mark</string>
      <key>d_f</key>
      <string>ligature</string>
      <key>d_i</key>
      <string>ligature</string>
      <key>dopaish</key>
      <string>mark</string>
      <key>dozabar</key>
      <string>mark</string>
      <key>dozair</key>
      <string>mark</string>
      <key>e_f</key>
      <string>ligature</string>
      <key>e_i</key>
      <string>ligature</string>
      <key>e_i1</key>
      <string>base</string>
      <key>e_i2</key>
      <string>base</string>
      <key>e_i3</key>
      <string>base</string>
      <key>e_io</key>
      <string>base</string>
      <key>e_m1</key>
      <string>base</string>
      <key>e_m2</key>
      <string>base</string>
      <key>e_m3</key>
      <string>base</string>
      <key>e_mo</key>
      <string>base</string>
      <key>eb_i</key>
      <string>ligature</string>
      <key>er_f</key>
      <string>ligature</string>
      <key>er_i</key>
      <string>ligature</string>
      <key>ey_f</key>
      <string>ligature</string>
      <key>ey_i</key>
      <string>ligature</string>
      <key>f2_i</key>
      <string>ligature</string>
      <key>f_f</key>
      <string>ligature</string>
      <key>f_i</key>
      <string>ligature</string>
      <key>f_i1</key>
      <string>base</string>
      <key>f_i2</key>
      <string>base</string>
      <key>f_i3</key>
      <string>base</string>
      <key>f_m1</key>
      <string>base</string>
      <key>f_m2</key>
      <string>base</string>
      <key>f_m3</key>
      <string>base</string>
      <key>f_mo</key>
      <string>base</string>
      <key>f_mw</key>
      <string>base</string>
      <key>fb_i</key>
      <string>ligature</string>
      <key>fi_i</key>
      <string>ligature</string>
      <key>fr_f</key>
      <string>ligature</string>
      <key>fr_i</key>
      <string>ligature</string>
      <key>fw</key>
      <string>base</string>
      <key>fy_f</key>
      <string>ligature</string>
      <key>fy_i</key>
      <string>ligature</string>
      <key>g_f</key>
      <string>ligature</string>
      <key>g_f2</key>
      <string>base</string>
      <key>g_i</key>
      <string>ligature</string>
      <key>g_i1</key>
      <string>base</string>
      <key>g_i2</key>
      <string>base</string>
      <key>g_i2s</key>
      <string>base</string>
      <key>g_i3</key>
      <string>base</string>
      <key>g_i3s</key>
      <string>base</string>
      <key>g_i4</key>
      <string>base</string>
      <key>g_is</key>
      <string>ligature</string>
      <key>g_m</key>
      <string>ligature</string>
      <key>g_m1</key>
      <string>base</string>
      <key>g_m2</key>
      <string>base</string>
      <key>g_m3</key>
      <string>base</string>
      <key>g_m4</key>
      <string>base</string>
      <key>g_mo</key>
      <string>base</string>
      <key>ga2</key>
      <string>base</string>
      <key>ga2_m</key>
      <string>ligature</string>
      <key>gb_i</key>
      <string>ligature</string>
      <key>gi_f</key>
      <string>ligature</string>
      <key>gi_i</key>
      <string>ligature</string>
      <key>gi_j</key>
      <string>ligature</string>
      <key>glyph554</key>
      <string>base</string>
      <key>gm</key>
      <string>base</string>
      <key>gm_j</key>
      <string>ligature</string>
      <key>gn_f</key>
      <string>ligature</string>
      <key>gy_f</key>
      <string>ligature</string>
      <key>gy_i</key>
      <string>ligature</string>
      <key>h_f</key>
      <string>ligature</string>
      <key>h_i</key>
      <string>ligature</string>
      <key>h_i1</key>
      <string>base</string>
      <key>h_i2</key>
      <string>base</string>
      <key>h_i3</key>
      <string>base</string>
      <key>h_iw</key>
      <string>base</string>
      <key>h_m1</key>
      <string>base</string>
      <key>h_m2</key>
      <string>base</string>
      <key>h_m3</key>
      <string>base</string>
      <key>h_mo</key>
      <string>base</string>
      <key>h_mw</key>
      <string>base</string>
      <key>hamzaabove</key>
      <string>mark</string>
      <key>hamzabelow</key>
      <string>mark</string>
      <key>hayb</key>
      <string>base</string>
      <key>hayb1</key>
      <string>base</string>
      <key>hayb2</key>
      <string>base</string>
      <key>hayb3</key>
      <string>base</string>
      <key>hb_i</key>
      <string>ligature</string>
      <key>hr_f</key>
      <string>ligature</string>
      <key>hr_i</key>
      <string>ligature</string>
      <key>hv_ka</key>
      <string>base</string>
      <key>hy_f</key>
      <string>ligature</string>
      <key>hy_i</key>
      <string>ligature</string>
      <key>i_f</key>
      <string>ligature</string>
      <key>i_f2</key>
      <string>base</string>
      <key>i_i</key>
      <string>ligature</string>
      <key>im</key>
      <string>base</string>
      <key>im1</key>
      <string>base</string>
      <key>j_f</key>
      <string>ligature</string>
      <key>j_i</key>
      <string>ligature</string>
      <key>j_i1</key>
      <string>base</string>
      <key>j_i2</key>
      <string>base</string>
      <key>j_i3</key>
      <string>base</string>
      <key>j_m1</key>
      <string>base</string>
      <key>j_m2</key>
      <string>base</string>
      <key>j_m3</key>
      <string>base</string>
      <key>j_mo</key>
      <string>base</string>
      <key>j_mr</key>
      <string>base</string>
      <key>jazm</key>
      <string>mark</string>
      <key>jb_i</key>
      <string>ligature</string>
      <key>jm</key>
      <string>base</string>
      <key>jm1</key>
      <string>base</string>
      <key>jm_k</key>
      <string>ligature</string>
      <key>jr_f</key>
      <string>ligature</string>
      <key>jy_f</key>
      <string>ligature</string>
      <key>jy_i</key>
      <string>ligature</string>
      <key>k_f</key>
      <string>ligature</string>
      <key>k_f2</key>
      <string>base</string>
      <key>k_i</key>
      <string>ligature</string>
      <key>k_i1</key>
      <string>base</string>
      <key>k_i2</key>
      <string>base</string>
      <key>k_i2s</key>
      <string>base</string>
      <key>k_i3</key>
      <string>base</string>
      <key>k_i3s</key>
      <string>base</string>
      <key>k_i4</key>
      <string>base</string>
      <key>k_is</key>
      <string>ligature</string>
      <key>k_m</key>
      <string>ligature</string>
      <key>k_m1</key>
      <string>base</string>
      <key>k_m2</key>
      <string>base</string>
      <key>k_m3</key>
      <string>base</string>
      <key>k_m4</key>
      <string>base</string>
      <key>k_mo</key>
      <string>base</string>
      <key>ka2</key>
      <string>base</string>
      <key>ka2_m</key>
      <string>ligature</string>
      <key>kb_i</key>
      <string>ligature</string>
      <key>kharizabar</key>
      <string>mark</string>
      <key>kharizair</key>
      <string>mark</string>
      <key>ki_f</key>
      <string>ligature</string>
      <key>ki_i</key>
      <string>ligature</string>
      <key>ki_j</key>
      <string>ligature</string>
      <key>km</key>
      <string>base</string>
      <key>km_j</key>
      <string>ligature</string>
      <key>kn_f</key>
      <string>ligature</string>
      <key>ky_f</key>
      <string>ligature</string>
      <key>ky_i</key>
      <string>ligature</string>
      <key>l_f</key>
      <string>ligature</string>
      <key>l_i</key>
      <string>ligature</string>
      <key>l_i1</key>
      <string>base</string>
      <key>l_i2</key>
      <string>base</string>
      <key>l_i3</key>
      <string>base</string>
      <key>l_m1</key>
      <string>base</string>
      <key>l_m2</key>
      <string>base</string>
      <key>l_m3</key>
      <string>base</string>
      <key>l_mo</key>
      <string>base</string>
      <key>la_f</key>
      <string>ligature</string>
      <key>la_i</key>
      <string>ligature</string>
      <key>lb_i</key>
      <string>ligature</string>
      <key>li_f</key>
      <string>ligature</string>
      <key>li_i</key>
      <string>ligature</string>
      <key>li_j</key>
      <string>ligature</string>
      <key>lm</key>
      <string>base</string>
      <key>lm_j</key>
      <string>ligature</string>
      <key>ln_f</key>
      <string>ligature</string>
      <key>ly_f</key>
      <string>ligature</string>
      <key>ly_i</key>
      <string>ligature</string>
      <key>m1_w</key>
      <string>ligature</string>
      <key>m2_w</key>
      <string>ligature</string>
      <key>m3_I</key>
      <string>ligature</string>
      <key>m3_w</key>
      <string>ligature</string>
      <key>m4_w</key>
      <string>ligature</string>
      <key>m5_b</key>
      <string>ligature</string>
      <key>m5_bb</key>
      <string>base</string>
      <key>m5_e</key>
      <string>ligature</string>
      <key>m5_f</key>
      <string>ligature</string>
      <key>m5_j</key>
      <string>ligature</string>
      <key>m5_o</key>
      <string>ligature</string>
      <key>m5_s</key>
      <string>ligature</string>
      <key>m5_v</key>
      <string>ligature</string>
      <key>m5_w</key>
      <string>ligature</string>
      <key>m_f</key>
      <string>ligature</string>
      <key>m_h</key>
      <string>ligature</string>
      <key>m_i</key>
      <string>ligature</string>
      <key>m_i1</key>
      <string>base</string>
      <key>m_i2</key>
      <string>base</string>
      <key>m_i3</key>
      <string>base</string>
      <key>m_m1</key>
      <string>base</string>
      <key>m_m2</key>
      <string>base</string>
      <key>m_m3</key>
      <string>base</string>
      <key>m_mo</key>
      <string>base</string>
      <key>m_w</key>
      <string>ligature</string>
      <key>mad</key>
      <string>mark</string>
      <key>mb_i</key>
      <string>ligature</string>
      <key>mm</key>
      <string>base</string>
      <key>mm1</key>
      <string>base</string>
      <key>mr_f</key>
      <string>ligature</string>
      <key>mr_i</key>
      <string>ligature</string>
      <key>my_f</key>
      <string>ligature</string>
      <key>my_i</key>
      <string>ligature</string>
      <key>n_f</key>
      <string>ligature</string>
      <key>n_i</key>
      <string>ligature</string>
      <key>o_1</key>
      <string>base</string>
      <key>o_2_x</key>
      <string>ligature</string>
      <key>o_3</key>
      <string>base</string>
      <key>o_f</key>
      <string>ligature</string>
      <key>o_i</key>
      <string>ligature</string>
      <key>o_i1</key>
      <string>base</string>
      <key>o_i2</key>
      <string>base</string>
      <key>o_i3</key>
      <string>base</string>
      <key>o_m1</key>
      <string>base</string>
      <key>o_m2</key>
      <string>base</string>
      <key>o_m3</key>
      <string>base</string>
      <key>o_mo</key>
      <string>base</string>
      <key>ob_i</key>
      <string>ligature</string>
      <key>onena</key>
      <string>base</string>
      <key>onenb</key>
      <string>base</string>
      <key>onenb1</key>
      <string>base</string>
      <key>onenb2</key>
      <string>base</string>
      <key>onenb3</key>
      <string>base</string>
      <key>or_f</key>
      <string>ligature</string>
      <key>or_i</key>
      <string>ligature</string>
      <key>oy_f</key>
      <string>ligature</string>
      <key>oy_i</key>
      <string>ligature</string>
      <key>paish</key>
      <string>mark</string>
      <key>q_f</key>
      <string>ligature</string>
      <key>q_f2</key>
      <string>base</string>
      <key>q_i</key>
      <string>ligature</string>
      <key>r_2f</key>
      <string>base</string>
      <key>r_f</key>
      <string>ligature</string>
      <key>r_i</key>
      <string>ligature</string>
      <key>s_1</key>
      <string>base</string>
      <key>s_2</key>
      <string>base</string>
      <key>s_3</key>
      <string>base</string>
      <key>s_4</key>
      <string>base</string>
      <key>s_f</key>
      <string>ligature</string>
      <key>s_i</key>
      <string>ligature</string>
      <key>s_i1</key>
      <string>base</string>
      <key>s_i2</key>
      <string>base</string>
      <key>s_i3</key>
      <string>base</string>
      <key>s_iw</key>
      <string>base</string>
      <key>s_m1</key>
      <string>base</string>
      <key>s_m2</key>
      <string>base</string>
      <key>s_m3</key>
      <string>base</string>
      <key>s_mo</key>
      <string>base</string>
      <key>s_mw</key>
      <string>base</string>
      <key>saignereh</key>
      <string>mark</string>
      <key>sainaleh</key>
      <string>mark</string>
      <key>sb_i</key>
      <string>ligature</string>
      <key>shad</key>
      <string>mark</string>
      <key>signerazi</key>
      <string>mark</string>
      <key>signssuad</key>
      <string>mark</string>
      <key>space</key>
      <string>base</string>
      <key>sr_f</key>
      <string>ligature</string>
      <key>sr_i</key>
      <string>ligature</string>
      <key>sy_f</key>
      <string>ligature</string>
      <key>sy_i</key>
      <string>ligature</string>
      <key>takhalus</key>
      <string>mark</string>
      <key>thinspace</key>
      <string>base</string>
      <key>threena</key>
      <string>base</string>
      <key>threenapaish</key>
      <string>base</string>
      <key>threenb</key>
      <string>base</string>
      <key>threenb1</key>
      <string>base</string>
      <key>threenb2</key>
      <string>base</string>
      <key>threenb3</key>
      <string>base</string>
      <key>toaa</key>
      <string>base</string>
      <key>twon2</key>
      <string>base</string>
      <key>twona</key>
      <string>base</string>
      <key>twonb</key>
      <string>base</string>
      <key>twonb1</key>
      <string>base</string>
      <key>twonb2</key>
      <string>base</string>
      <key>twonb3</key>
      <string>base</string>
      <key>ultapish</key>
      <string>mark</string>
      <key>v_f</key>
      <string>ligature</string>
      <key>v_i</key>
      <string>ligature</string>
      <key>v_i1</key>
      <string>base</string>
      <key>v_i2</key>
      <string>base</string>
      <key>v_i3</key>
      <string>base</string>
      <key>v_iw</key>
      <string>base</string>
      <key>v_m1</key>
      <string>base</string>
      <key>v_m2</key>
      <string>base</string>
      <key>v_m3</key>
      <string>base</string>
      <key>v_mo</key>
      <string>base</string>
      <key>v_mw</key>
      <string>base</string>
      <key>vb_i</key>
      <string>ligature</string>
      <key>vr_f</key>
      <string>ligature</string>
      <key>vr_i</key>
      <string>ligature</string>
      <key>vy_f</key>
      <string>ligature</string>
      <key>vy_i</key>
      <string>ligature</string>
      <key>w_f</key>
      <string>ligature</string>
      <key>w_f2</key>
      <string>base</string>
      <key>w_i</key>
      <string>ligature</string>
      <key>y_f</key>
      <string>ligature</string>
      <key>y_i</key>
      <string>ligature</string>
      <key>zabar</key>
      <string>mark</string>
      <key>zair</key>
      <string>mark</string>
    </dict>
    <key>public.postscriptNames</key>
    <dict>
      <key>ain</key>
      <string>uni1D25</string>
      <key>alef_f</key>
      <string>uni05D00066</string>
      <key>alif</key>
      <string>uni0627</string>
      <key>alifhamzaabove</key>
      <string>uni0623</string>
      <key>alifhamzabelow</key>
      <string>uni0625</string>
      <key>alifmad</key>
      <string>uni0622</string>
      <key>arabiccomma</key>
      <string>uni060C</string>
      <key>arabicquestionmark</key>
      <string>uni061F</string>
      <key>bariyeh</key>
      <string>uni06D2</string>
      <key>bariyehhamza</key>
      <string>uni06D3</string>
      <key>bay</key>
      <string>uni0628</string>
      <key>chay</key>
      <string>uni0686</string>
      <key>chotimad</key>
      <string>uni06E4</string>
      <key>dal</key>
      <string>uni062F</string>
      <key>dash</key>
      <string>uni06D4</string>
      <key>ddal</key>
      <string>uni0688</string>
      <key>dochashmihay</key>
      <string>uni06BE</string>
      <key>dopaish</key>
      <string>uni064C</string>
      <key>dozabar</key>
      <string>uni064B</string>
      <key>dozair</key>
      <string>uni064D</string>
      <key>euro</key>
      <string>Euro</string>
      <key>fay</key>
      <string>uni0641</string>
      <key>g_is</key>
      <string>uni0067A76D</string>
      <key>ghaf</key>
      <string>uni06AF</string>
      <key>ghain</key>
      <string>uni063A</string>
      <key>glyph148</key>
      <string>uni066A</string>
      <key>glyph149</key>
      <string>uni06F0</string>
      <key>glyph150</key>
      <string>uni06F1</string>
      <key>glyph151</key>
      <string>uni06F2</string>
      <key>glyph152</key>
      <string>uni06F3</string>
      <key>glyph153</key>
      <string>uni06F4</string>
      <key>glyph154</key>
      <string>uni06F5</string>
      <key>glyph155</key>
      <string>uni06F6</string>
      <key>glyph156</key>
      <string>uni06F7</string>
      <key>glyph157</key>
      <string>uni06F8</string>
      <key>glyph158</key>
      <string>uni06F9</string>
      <key>glyph168</key>
      <string>uni061B</string>
      <key>glyph185</key>
      <string>uni066C</string>
      <key>glyph235</key>
      <string>uni0600</string>
      <key>goalhay</key>
      <string>uni0647</string>
      <key>goalhayarabic</key>
      <string>uni06C1</string>
      <key>goaltay</key>
      <string>uni0629</string>
      <key>hamza</key>
      <string>uni0621</string>
      <key>hamza1</key>
      <string>uni066B</string>
      <key>hamzaabove</key>
      <string>uni0654</string>
      <key>hamzabelow</key>
      <string>uni0655</string>
      <key>hawala</key>
      <string>uni0602</string>
      <key>hay</key>
      <string>uni062D</string>
      <key>hayhamza</key>
      <string>uni06C2</string>
      <key>jazm</key>
      <string>uni0652</string>
      <key>jeem</key>
      <string>uni062C</string>
      <key>k_is</key>
      <string>uni006BA76D</string>
      <key>kaf</key>
      <string>uni05DB</string>
      <key>kharizabar</key>
      <string>uni0670</string>
      <key>kharizair</key>
      <string>uni0656</string>
      <key>khay</key>
      <string>uni062E</string>
      <key>laam</key>
      <string>uni0644</string>
      <key>mad</key>
      <string>uni0653</string>
      <key>meem</key>
      <string>uni0645</string>
      <key>misra</key>
      <string>uni060F</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>noon</key>
      <string>uni0646</string>
      <key>noonghunna</key>
      <string>uni06BA</string>
      <key>paish</key>
      <string>uni064F</string>
      <key>pay</key>
      <string>uni067E</string>
      <key>qaf</key>
      <string>uni0642</string>
      <key>ray</key>
      <string>uni0631</string>
      <key>rray</key>
      <string>uni0691</string>
      <key>safha</key>
      <string>uni0603</string>
      <key>saignereh</key>
      <string>uni0612</string>
      <key>sainaleh</key>
      <string>uni0611</string>
      <key>sana</key>
      <string>uni0601</string>
      <key>say</key>
      <string>uni062B</string>
      <key>seen</key>
      <string>uni0633</string>
      <key>shad</key>
      <string>uni0651</string>
      <key>sheen</key>
      <string>uni0634</string>
      <key>signerazi</key>
      <string>uni0613</string>
      <key>signssuad</key>
      <string>uni0610</string>
      <key>suad</key>
      <string>uni0635</string>
      <key>takhalus</key>
      <string>uni0614</string>
      <key>tatweel</key>
      <string>uni0640</string>
      <key>tay</key>
      <string>uni062A</string>
      <key>thinspace</key>
      <string>uni2009</string>
      <key>toa</key>
      <string>uni0637</string>
      <key>ttey</key>
      <string>uni0679</string>
      <key>ultapish</key>
      <string>uni0657</string>
      <key>vy_f</key>
      <string>uniA7610066</string>
      <key>vy_i</key>
      <string>uniA7610069</string>
      <key>wao</key>
      <string>uni0648</string>
      <key>waohamza</key>
      <string>uni0624</string>
      <key>yeh</key>
      <string>uni064A</string>
      <key>yeharabic</key>
      <string>uni064A</string>
      <key>yehhamza</key>
      <string>uni0626</string>
      <key>yey</key>
      <string>uni0698</string>
      <key>zabar</key>
      <string>uni064E</string>
      <key>zair</key>
      <string>uni0650</string>
      <key>zal</key>
      <string>uni0630</string>
      <key>zay</key>
      <string>uni0632</string>
      <key>zoa</key>
      <string>uni0638</string>
      <key>zuad</key>
      <string>uni0636</string>
      <key>zwnj</key>
      <string>uni200C</string>
    </dict>
  </dict>
</plist>
